{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="left-section text-red border-black bg-white">
            <h2 class="logo-font">Question: do you deem yourself to be a <strong>nerd</strong>?</h2>
            <span>
                Have you got a love of <strong><em class="logo-font">Anime</em></strong>, <strong><em
                        class="logo-font">Gaming</em></strong>,
                <strong><em class="logo-font">Movies</em></strong> or maybe even a combination of all three?
                <br>
                If the answer is yes then you will love <strong><em class="logo-font">nerd box</em></strong>, your
                new favourite
                subscription service for
                everything <strong>Nerd</strong> related.
            </span>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<div class="row">
    <div class="col">
        <div class="right-section text-red border-black bg-white">
            <span>
                Each month we will send you a new <em>Themed Box</em>, containing at least five special items with a
                minimum
                retail value of £50.
                <br>
                As well as the goodies each box will contain a <em>Special Gift</em> depending on you selected box.
                <br>
                These could be a fetching Figurine in our
                <strong><em class="logo-font">Anime</em></strong> box, a cool T-shirt in our <strong><em
                        class="logo-font">Gaming</em></strong> Box or a
                riviting Novel adaptation in our
                <strong><em class="logo-font">Movie</em></strong> Box.
                <br>
                And if you can't decide which one you love the most you can choose to have a <strong><em
                        class="logo-font">Combo</em></strong> Box,
                <br> containing
                bits and pieces from each box as well as your choice of special gift.
            </span>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<div class="row">
    <div class="col">
        <div class="left-section text-red border-black bg-white">
            <span>
                So what's stopping you?
                <br>
                Go and order your <strong><em class="logo-font">nerd box</em></strong> today.
                <br>
                Because there is never a bad time to release your inner nerd.
            </span>
        </div>
    </div>
</div>
<br>
<br>
<br>
<div class="row">
    <div class="col text-center text-red border-black bg-white">
        <h2 class="logo-font">This Months Themes</h2>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-4 theme-box text-red border-black bg-white">
            <h3 class="logo-font">Anime Box</h3>
            <span>
                Get yourself transported to another world, <br>
                With this months <strong>Isekai</strong> Themed Box.
            </span>
        </div>
        <div class="col-12 col-lg-4 theme-box text-red border-black bg-white">
            <h3 class="logo-font">Gaming Box</h3>
            <span>
                Time to go explore Hyrule and save the Princess, <br>
                With this months <strong>Zelda</strong> Themed Box.
            </span>
        </div>
        <div class="col-12 col-lg-4 theme-box text-red border-black bg-white">
            <h3 class="logo-font">Movies Box</h3>
            <span>
                Get yourself transported to another world, <br>
                With this months <strong>Sci-Fi</strong> Themed Box.
            </span>
        </div>
    </div>
</div>

{% endblock %}