<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown border-black bg-white">
            <a class="logo-font font-weight-bold nav-link text-red mr-5" href="#" id="all-current-boxes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Current Boxes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-current-boxes-link">
                <a href="{% url 'products' %}?category=anime_box" class="dropdown-item">Anime Box</a>
                <a href="{% url 'products' %}?category=combo_box" class="dropdown-item">Combo Box</a>
                <a href="{% url 'products' %}?category=gaming_box" class="dropdown-item">Gaming Box</a>
                <a href="{% url 'products' %}?category=movie_box" class="dropdown-item">Movie Box</a>
                <a href="{% url 'products' %}?category=anime_box,combo_box,gaming_box,movie_box" class="dropdown-item">All Current Boxes</a>
            </div>
        </li>
        <li class="nav-item dropdown border-black bg-white">
            <a class="logo-font font-weight-bold nav-link text-red mr-5" href="#" id="all-past-boxes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Past Boxes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-current-boxes-link">
                <a href="{% url 'products' %}?category=past_anime_boxes" class="dropdown-item">Past Anime Boxes</a>
                <a href="{% url 'products' %}?category=past_gaming_boxes" class="dropdown-item">Past Gaming Boxes</a>
                <a href="{% url 'products' %}?category=past_movie_boxes" class="dropdown-item">Past Movie Boxes</a>
                <a href="{% url 'products' %}?category=past_anime_boxes,past_gaming_boxes,past_movie_boxes" class="dropdown-item">All Past Boxes</a>
            </div>
        </li>
    </ul>
    <div id="delivery-banner" class="text-center bg-color">
        <div class="col text-red">
            <h4 class="logo-font my-1">Free shipping over ${{ free_delivery_threshold }}!</h4>
        </div>
    </div>
</div>