<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown border-black bg-white">
            <a class="logo-font font-weight-bold nav-link text-red mr-5" href="#" id="all-current-boxes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Current Boxes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-current-boxes-link">
                <a href="" class="dropdown-item">Anime Box</a>
                <a href="" class="dropdown-item ">Combo Box</a>
                <a href="" class="dropdown-item ">Gaming Box</a>
                <a href="" class="dropdown-item">Movie Box</a>
            </div>
        </li>

        <li class="nav-item dropdown border-black bg-white">
            <a class="logo-font font-weight-bold nav-link text-red mr-5" href="#" id="past-anime-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Past Anime Boxes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="past-anime-link">
                <a href="" class="dropdown-item">Last Month</a>
                <a href="" class="dropdown-item">Two Months Ago</a>
                <a href="" class="dropdown-item">Three Months Ago</a>
            </div>
        </li>

        <li class="nav-item dropdown border-black bg-white">
            <a class="logo-font font-weight-bold nav-link text-red mr-5" href="#" id="past-gaming-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Past Gaming Boxes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="past-gaming-link">
                <a href="" class="dropdown-item">Last Month</a>
                <a href="" class="dropdown-item">Two Months Ago</a>
                <a href="" class="dropdown-item">Three Months Ago</a>
            </div>
        </li>

        <li class="nav-item dropdown border-black bg-white">
            <a class="logo-font font-weight-bold nav-link text-red mr-5" href="#" id="past-movie-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Past Movie Boxes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="past-movie-link">
                <a href="" class="dropdown-item">Last Month</a>
                <a href="" class="dropdown-item">Two Months Ago</a>
                <a href="" class="dropdown-item">Three Months Ago</a>
            </div>
        </li>

    </ul>
</div>